
<div class="container p-3 mb-3 border-bottom background-color-oxfordblue">
  <div class="d-flex flex-wrap align-items-center justify-content-center ">

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a (click)="goToCategories()" class="nav-link px-2 link-secondary navigation-item">Categories</a></li>
      <li><a [href]="'random'" class="nav-link px-2 link-secondary navigation-item">Random Food</a></li>
    </ul>


    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control" placeholder="Search..." [formControl]="searchFc">
    </form>

  </div>
</div>

